:root {
    --nav-bar-color : #f2f2f2;
    --text-color: #696969;
}
.nav{
    background-color: var(--nav-bar-color);
}

.col-6 .search {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-color);
    background-color: var(--nav-bar-color);
}

/* middlePart */
.text-decoration-none {
    color: #A1A1A1 !important;
}
@media (max-width: 1200px) {
  .link{
     padding-right: 2rem ;
 }
}
.show-ham {
    display: none;
}
@media (max-width: 991px) {
    .middlePart{
        display: none;
    }
    #row{
        display: flex;
        flex-direction: column-reverse;
    }
    .leftPart .row {
        width: 100%;
    }
    .col-6 .search {
        width: 100%;
        
    }
  .rightPart {
      display: flex;
      justify-content: space-between;
  }
  .show-ham{
      display: block;
  }
  .justify-content-end {
      justify-content: unset !important;
  }
   
}
    
    
    
/* end of middlePart */

/* right-part */
img,svg {
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

/* end of right-part */